{% extends "music/layout.html" %}
{% load static %}

{% block title %}
    <title>
        Add Album
    </title>
{% endblock %}

{% block style %}
   <link rel="stylesheet" href="{% static 'music/css/addalbum.css' %}">
{% endblock %}

{% block body %}
<div class="login-box">
    <h1>
        Add Album
    </h1>
<form enctype="multipart/form-data" action="{% url 'add' %}" method="post">    
    {% csrf_token %}
    <div class="textbox">
        {{ forms.album_title }}    
    </div>
    <div class="textbox">
        {{ forms.language }}
    </div>
    <div style="margin-top: 15px;">
        {{ forms.album_logo }}
    </div>
    <input style="margin-top: 20px;font-size: larger;background-color: darkgray;" id="Submit" class="btn-secondary" type="submit" name="Password" value="Submit"><br>
</form>
</div>
{% endblock %}