{% extends 'music/layout.html' %}

{% block title %}
    <title>
        Add Song
    </title>
{% endblock %}

{% block style %}
    <script>
        document.addEventListener('DOMContentLoaded',function(){
            const view = document.getElementById('viewall');
            view.onclick = function(){
                var v = window.location.href.split('/');
                v.pop();
                v.pop();
                v =  v.join('/');
                window.location.href = v;
            }
        })
    </script>
{% endblock %}

{% block body %}    
<div class="container">
    <div class="row">
        <div class="col-sm-3" style="background: white;margin-bottom: 20px;padding-bottom: 10px;padding-left: 10px;padding-top: 10px;padding-right: 10px;">
            <img src="{{ album.album_logo.url }}" height="250px" width="250px">
            <h3><b>{{ album.album_title }}</b></h3>
            <h5>{{album.language}}</h5>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-8">
            <div class="row" style="margin-bottom: 10px;">
            <button id="viewall" type="button" style="padding-left: 10px;margin-left: 15px;", class="btn btn-primary" >View all</button>
            <button type="button" class="btn btn-light active">Add New Song</button>
            </div>
            <div style="background: white;padding-left: 12px;padding-top: 10px;padding-bottom: 10px;">
                    <h3><b>Add a New Song</b></h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}