{% extends 'music/layout.html' %}
{% load static %}

{% block title %}
    <title>
        Add Song
    </title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'music/css/addalbum.css' %}">
    <script>
        document.addEventListener('DOMContentLoaded',function(){
            const view = document.getElementById('viewall');
            view.onclick = function(){
                var v = window.location.href.split('/');
                v.pop();
                v.pop();
                v =  v.join('/');
                window.location.href = v;
            }
        })
    </script>
{% endblock %}

{% block body %}    
<div class="container">
    <div class="row">
        <div class="col-sm-3" style="background: white;margin-bottom: 20px;padding-bottom: 10px;padding-left: 10px;padding-top: 10px;padding-right: 10px;">
            <img src="{{ album.album_logo.url }}" height="250px" width="250px">
            <h3><b>{{ album.album_title }}</b></h3>
            <h5>{{album.language}}</h5>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-8">
            <div class="row" style="margin-bottom: 10px;">
            <button id="viewall" type="button" style="padding-left: 10px;margin-left: 15px;", class="btn btn-primary" >View all</button>
            <button type="button" class="btn btn-light active">Add New Song</button>
            </div>
            <div style="background: white;padding-left: 12px;padding-top: 10px;padding-bottom: 10px;">
                    <h3><b>Add a New Song</b></h3>
            <div>
                <form enctype="multipart/form-data" action="{% url 'addsong' album.album_title %}" method="post">    
                    {% csrf_token %}
                    <div class="textbox">
                        {{ forms.song_name }}    
                    </div>
                    <div class="textbox">
                        {{ forms.artist_name }}
                    </div>
                    <div style="margin-top: 15px;">
                        {{ forms.audio_file}}
                    </div>
                    <div style="margin-top: 20px;text-align: center;color: red;">
                        {% for message in messages %}
                        <div>
                            <p>
                                <h6>*{{ message }}</h6>
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                    <input style="margin-top: 20px;font-size: large;" id="Submit" class="btn-success" type="submit" name="Password" value="Submit"><br>
                </form>                
            </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}