{% extends "music/layout.html" %}

{% block title %}
    <title>Tune In</title>
{% endblock %}

{% block style %}
<script>
    document.addEventListener('DOMContentLoaded',function(){
        const add = document.getElementById('addalbum');
        add.onclick = function(){
            window.location.href = window.location.href+"add";
        }
    })
</script>
{% endblock %}

{% block body %}
    <h1>
        Albums
    </h1>
    <ul>
    {% for album in albums %}
        <li>
            {{ album.album_title }}
            <img src="{{ album.album_logo.url }}" height="250px" width="250px">
            {% for songs in album.songs.all %}
                {{ songs.song_name }}
            {% empty %}
                <li>
                    No Songs in this Album
                </li>
            {% endfor %}
        </li>
        {% empty %}
            <li>No Albums</li>
    {% endfor %}
    </ul>
{% endblock %}