{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title> 
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Satisfy" />
        <link rel="stylesheet" href="{% static 'music/css/login.css' %}">
        <script>
        document.addEventListener('DOMContentLoaded',function(){
            const Signup = document.getElementById('Sign up');
            Signup.onclick = function(){
            var v = window.location.href.split('/');
            v.pop();
            v.pop();
            v = v.join('/');
            v = v+"/signup";
            window.location.href = v;
    } 
});
        </script>
    </head>    
    <body>
        <div class="container">
                <div class="col-sm-6">
                    <div class="row">
                        <img src="{% static 'music/images/loginlogo.png' %}" width="150px" height="150px">
                    <div class="navbar-header">
                        <a style="font-size: xx-large; font-family: 'Satisfy',cursive; color: black;" class="navbar-brand" href="{% url 'index' %}">
                          <h1 style="font-size: 100px;"> <b>TuneIn</b></h1>
                          <h2>cloud music player</h2>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <h1 style="font-size: 35px;">
                        <br>
                        <b>
                            What is TuneIn?
                        </b>
                    </h1>
                    <p>
                        <h2><br>TuneIn is an application that let's you upload, store, and play all of your music from the cloud. You can now manage and listen to your music from any device, anywhere in the world.</h2>                        
                     </p>
                </div>
                </div>
                <div class="row justify-content-end">
                <div class="col-sm">    
            <div class="login-box">
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <h1>
                    Login
                </h1>
            <form action="{% url 'login' %}" method="post">    
                {% csrf_token %}
                <div class="textbox">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ forms.username }}    
                </div>
                <div class="textbox">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    {{ forms.password }}
                </div>
                <div style="margin-top: 20px;text-align: center;color: red;">
                    {% for message in messages %}
                    <div>
                        <p><b>
                            <h3>*{{ message }}</h3>
                        </b>
                        </p>
                    </div>
                    {% endfor %}
                </div>
                <input style="margin-top: 25px;color: black;" id="Sign in" class="btn" type="submit" name="Password" value="Sign in"><br>
                <h4 style="text-align: center;"><b>OR</b></h4>
                <input id="Sign up" class="btn" type="button" name="" value="Sign Up">
                </form>
                </div>
            </div>
            </div>
        </div>
    </body> 
</html>   