.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.login-box h3{
    float: left;
    border-bottom: 6px solid lightslategray; 
    margin-bottom: 35px;
    padding: 13px 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid lightslategray;
}

.textbox input{
    border: none;
    outline: none;
    font-size: 18px;
    width: 90%;
    float: left;
    margin: 0 15px;
}

